.card-preview {
    margin-bottom: 1rem;
    background-color: $clr1;
    min-height: 400px;
    max-width: 20vw;
    border-radius: 20px;
    transition: box-shadow, .3s;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    }


    .card-img {
        height: 60%;
        aspect-ratio: 1;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .info-container {
        padding: 1rem;

        .card-content {
            font-size: 1.7vw;
            letter-spacing: -0.01em;
        }
    }
}