// Flex
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Text


// Spacers
.mt-3 {
  margin-top: 80px;
}

.mb-3 {
  margin-bottom: 80px;
}

// Buttons
.clean-btn {
  background-color: transparent;
  padding: 0;
  border: none;
}

// positions
.relative {
  position: relative;
}

// inputs

.styled-capsule-input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: #afeedd;
  line-height: 1;
  padding: 12px 8px;
  border: 1px solid #ccc;
}