/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $normal-breakpoint) {
        @content;
    }
}

@mixin styled-link($padding: 1em 1.5em) {
    background-color: $clr4;
    box-shadow: 0 5px 0 darken($clr4, 10%);
    color: white;
    padding: $padding;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;


    &:hover {
        background-color: lighten($clr4, 5%);
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
        top: 5px;
    }
}

@mixin styled-btn($padding: 1rem, $bg: #F3F3F3) {
    border-radius: 100px;
    padding: 0.8rem 1rem;
    padding: $padding;
    background: $bg;
    border: none;
}